.emailview {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topicons {
  display: flex;
  align-items: flex-start;
  margin-right: 8px;
  border-bottom: 1px solid lightgray;
}

.emailcontainer {
  flex: 1;
  overflow-y: auto;
}
