.div1 {
  background-color: white;
}
.div2 {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.div3 {
  display: grid;
  grid-template-columns: 10% auto 7%;
  align-items: center;
  gap: 8px;
  background-color: #f1f3f4;
  padding: 4px 8px;
  border-radius: 8px;
  max-width: 750px;
}
.div3 input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}
.div4 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 20px;
}

.resized-img {
  width: 100px;
  height: auto;
  display: flex;
}
.MuiSvgIcon-root {
  color: #5f6368;
}
