.sbdiv1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 260px;
  min-width: 200px;
  border-right: 4px solid lightgray;
  background-color: white;
  padding-top: 10px;
  box-sizing: border-box;
}
.bottomwrap {
  margin-bottom: 10px;
}
.topsectwrap {
  display: flex;
  flex-direction: column;
}

.sbcompose {
  padding: 10px 20px;
}
.sidebar__buttons {
  display: flex;
  flex-direction: column;
}
.sidebar-button-item {
  display: flex;
  align-items: center;
  color: gray;
  padding: 5px 25px;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 6px;
  transition: background-color 0.3s ease;
  gap: 10px;
  height: 30px;
}
.sidebar-button-item:hover {
  background-color: #f5f7f7;
}
.sidebar__button-item span {
  margin-left: 10px;
}

.sbsection {
  border-top: 1px solid lightgray;
  padding: 8px 0;
  margin-left: 6px;
}
.sbsection p {
  color: gray;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 5px 25px;
  gap: 10px;
  cursor: pointer;
}
.sbsection p:hover {
  background-color: #f5f7f7;
  border-radius: 100px 100px 100px 100px;
}
.sbsection h4 {
  padding: 5px 25px;
  margin-bottom: 4px;
  margin-top: 8px;
  font-weight: 500;
  color: #333;
}
.sbicons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.MuiSvgIcon-root {
  color: #5f6368;
  padding: 2px;
  cursor: pointer;
}
