.sideimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: 8px;
  border-left: 4px solid gray;
}

.sideimage img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-left: 8px;
  border-radius: 8px;
  display: block;
}
hr {
  width: 80%;
}
.MuiSvgIcon-root {
  color: #5f6368;
  margin-left: 8px;
  cursor: pointer;
}
